# Supabase
VITE_SUPABASE_URL=sb_publishable_siAqZ-0B1W06ru-r3Vywbw_HHQkqVMQ
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxbXhxY2R0Y25naHFxaHRzdGRvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2Njg3MjksImV4cCI6MjA4OTI0NDcyOX0.6wOyPxzTpP9xZO91v_0aOW1VUOkBSnU-jkcp51cMxH4

# OpenWeatherMap — https://openweathermap.org/api
VITE_OPENWEATHER_API_KEY=

# Mapbox — https://account.mapbox.com
VITE_MAPBOX_TOKEN=

# CoinGecko — https://www.coingecko.com/en/api
VITE_COINGECKO_API_KEY=

# Unsplash — https://unsplash.com/developers
VITE_UNSPLASH_ACCESS_KEY=

# Stripe — https://dashboard.stripe.com/apikeys
VITE_STRIPE_PUBLISHABLE_KEY=

# BNB Chain — deployed CropTokenFactory contract address on BSC Testnet
VITE_CROP_FACTORY_ADDRESS=

# BSC Testnet RPC
VITE_BSC_TESTNET_RPC=https://data-seed-prebsc-1-s1.binance.org:8545/

# WalletConnect — https://cloud.walletconnect.com
VITE_WALLETCONNECT_PROJECT_ID=
